<div class = "details_edit">
  <%= form_with(model: loan_detail) do |form| %>
  <div class ="outer">
    <% if loan_detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(loan_detail.errors.count, "error") %> prohibited this loan_detail from being saved:</h2>

        <ul>
          <% loan_detail.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= "部屋名：" %>
      <%= @key_masters.find(@loan_detail.key_master_id).room_name %>
    </div>


    <div class="field">
      <p>鍵責任者</p>
      <%= @loan_detail.grade %><%= "年" %>
      <%= @loan_detail.class_number %><%= "組" %>
      <%= @loan_detail.user_name%><% "名前" %>
      </div>  
    </div>
    <div class="actions row" >
      <%= form.submit "返却する",class:"col-12 col-xl-2 col-md-3" %>
    <button type ="button" class = "col-12 col-xl-2 col-md-3">
      <%= link_to '戻る', loan_details_path %>
    </button>
 
    </div>
  <% end %>
</div>