<p id="notice"><%= notice %></p>

<h1>貸出一覧</h1>
<%# 返却状況 %>
<table class ="design_table table table-hover">
  <thead>
    <tr>
      <th>部屋名</th>
      <th>借りた時間</th>
      <th>返した時間</th>
      <th>学年</th>
      <th>組</th>
      <th>名前</th>
    </tr>
  </thead>

  <tbody >
    <% @loan_details.each do |loan_detail| %>
      <tr>
        <td><%= loan_detail.key_master.room_name %></td>
        <td><%= loan_detail.start_date %></td>
        <td><%= loan_detail.return_date %></td>
        <td><%= loan_detail.grade %></td>
        <td><%= loan_detail.class_number %></td>
        <td><%= loan_detail.user_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button type ="button">
  <%= link_to 'トップへ戻る', home_top_path %>
</button>
