<p id="notice"><%= notice %></p>

<h1>貸出一覧</h1>
<%# 返却状況 %>
<table class ="design_table table table-hover">
  <thead>
    <tr>
      <th>key</th>
      <th>借りた時間</th>
      <th>返した時間</th>
      <th>学年</th>
      <th>組</th>
      <th>名前</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @loan_details.each do |loan_detail| %>
      <tr>
        <td><%= loan_detail.key_master.room_name %></td>
        <td><%= loan_detail.start_date %></td>
        <td><%= loan_detail.return_date %></td>
        <td><%= loan_detail.grade %></td>
        <td><%= loan_detail.class_number %></td>
        <td><%= loan_detail.user_name %></td>
        <td class="index_color"><%= link_to '閲覧', loan_detail %></td>
        <td class="index_color"><%= link_to '返す', edit_loan_detail_path(loan_detail) %></td>
        <td><%= button_to '削除', loan_detail, method: :delete, data: { confirm: 'ほんとにいいの?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
