<p id="notice"><%= notice %></p>

<h1>Loan Details</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Start date</th>
      <th>Return date</th>
      <th>Grade</th>
      <th>Class number</th>
      <th>User name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_details.each do |loan_detail| %>
      <tr>
        <td><%= loan_detail.key_id %></td>
        <td><%= loan_detail.start_date %></td>
        <td><%= loan_detail.return_date %></td>
        <td><%= loan_detail.grade %></td>
        <td><%= loan_detail.class_number %></td>
        <td><%= loan_detail.user_name %></td>
        <td><%= link_to 'Show', loan_detail %></td>
        <td><%= link_to 'Edit', edit_loan_detail_path(loan_detail) %></td>
        <td><%= link_to 'Destroy', loan_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan Detail', new_loan_detail_path %>
