<div class = "details_edit">


    <div class ="outer">
    <div class="field">
      <%= "部屋名：" %>
      <%= @key_masters.find(@loan_detail.key_master_id).room_name %>
    </div>
    <div class="field">
      <p>鍵責任者</p>
      <%= @loan_detail.grade %><%= "年" %>
      <%= @loan_detail.class_number %><%= "組" %>
      <%= @loan_detail.user_name%><% "名前" %>
      </div>  
    </div>
    </div>
</div>
<button type ="button">
<%= link_to '戻る', home_student_top_path %>
</button>