<p id="notice"><%= notice %></p>

<h1>Key Masters</h1>

<table>
  <thead>
    <tr>
      <th>Room name</th>
      <th>Management room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @key_masters.each do |key_master| %>
      <tr>
        <td><%= key_master.room_name %></td>
        <td><%= key_master.management_room %></td>
        <td><%= link_to 'Show', key_master %></td>
        <td><%= link_to 'Edit', edit_key_master_path(key_master) %></td>
        <td><%= link_to 'Destroy', key_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Key Master', new_key_master_path %>
