
<div class="box">
<div class="field">
  <%= "部屋名：" %>
  <%= @key_master.room_name %>
</div>

<div class="field">
  <%= "借りられる場所：" %>
  <%= @key_master.management_room %>
</div>

<div class="field">
  <%= rent(@key_master.loan_details) %>
</div>
</div>
<button type ="button" class = "btn">
    <%= link_to '戻る', home_student_top_path %>
</button>
